{% extends 'music/base.html' %}

<!--<h1>Album Title</h1>
    <h2>Artist</h2>


     <li>

        songtitle-songfiletype

    </li>
    -->


<!--
<img src="{{ album.album_logo }}">
<h1>{{album.album_title}}</h1>

<h2>{{album.artist}}</h2>

<ul>
    {% for song in album.song_set.all %}
    <li>

        {{song.song_title}} - {{song.file_type}}

    </li>
    {%endfor%}

</ul>
-->
{% block title %}Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo.url }}">
    <h1>{{album.album_title}}</h1>
    <h2>{{album.artist}}</h2>
    {% if error_message %}
    <p> <strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="/music/{{album.id}}/favorite/" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{forloop.counter}}" name="song" value="{{ song.id }}">
            <label for="song{{forloop.counter}}">
                {{song.song_title}}
                {%if song.is_favorite %}
                    <img src="https://img.icons8.com/windows/32/000000/filled-star.png">
                {% endif %}
            </label><br>
        {% endfor %}
        <input type ="submit" value="Mark favorite">
    </form>
{% endblock %}
